html{
    background-color:#0066cc;
}
.inText{
    background-color: #333;
    color: #0066cc;
    border-radius: 15%;
    width: 230px;
    height: 50px;
    text-indent: 10px;
}
.botoes{
    background-color: #333;
    color: #0066cc;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.botoesMenores{
    background-color: #333;
    color: #0066cc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.container{
    max-width: 100%;
    width: 1040px;
    margin: 0 auto;
}

.form{
    width: 500px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
.form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.list-class{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.list-class li{
    color: aquamarine;
    text-align: center;
}